/adc board firmware/db/
/adc board firmware/incremental_db/
/adc board firmware/*.rpt
/adc board firmware/output_files/*.rpt
/adc board firmware/output_files/*.summary
/adc board firmware/output_files/*.done
/adc board firmware/*.bak
/adc board firmware/coincidence.qws
.idea